VITE_API_TARGET=http://127.0.0.1:3001
VITE_UMAMI_ENABLED=true
VITE_UMAMI_SCRIPT_URL=https://analytics.artembay.ru/script.js
VITE_UMAMI_WEBSITE_ID=0c965545-fd3c-4485-9821-5267012848a5
# Optional Umami script attributes:
# VITE_UMAMI_HOST_URL=https://analytics.artembay.ru
# VITE_UMAMI_DOMAINS=svocraft.xyz,www.svocraft.xyz
# VITE_UMAMI_TAG=production
# VITE_UMAMI_DO_NOT_TRACK=true
