BINDING_ADDRESS=127.0.0.1:3001
DATABASE_URL=sqlite://db.sqlite?mode=rwc

DISCORD_CLIENT_ID=your_client_id
DISCORD_CLIENT_SECRET=your_client_secret
DISCORD_REDIRECT_URI=http://localhost:5173/auth/callback

JWT_SECRET=your_jwt_secret_change_me
POW_COMPLEXITY=15

